NEXT_PUBLIC_SITE_URL=http://localhost:3000

# Keycloak
KEYCLOAK_CLIENT_ID=client-id
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_ISSUER=https://yourdomain.com/realms/your-realm

# Backend REST API
BACKEND_API_URL=http://localhost:8999/api/v1


# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
