{
  "openapi": "3.1.0",
  "info": { "title": "OpenAPI definition", "version": "v0" },
  "servers": [
    {
      "url": "https://devsolve-api.quizzy.it.com",
      "description": "Generated server url"
    }
  ],
  "paths": {
    "/api/v1/votes/{type}/{targetId}": {
      "put": {
        "tags": ["vote-controller"],
        "operationId": "setVote",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["PROBLEM", "SOLUTION", "COMMENT", "SHOWCASE"]
            }
          },
          {
            "name": "targetId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/VoteRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/VoteResponse" }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["vote-controller"],
        "operationId": "removeVote",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["PROBLEM", "SOLUTION", "COMMENT", "SHOWCASE"]
            }
          },
          {
            "name": "targetId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": { "204": { "description": "No Content" } }
      }
    },
    "/api/v1/follows/{type}/{targetId}": {
      "put": {
        "tags": ["follow-controller"],
        "operationId": "follow",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["ORGANIZATION", "USER", "PROBLEM", "PROGRAM", "SHOWCASE"]
            }
          },
          {
            "name": "targetId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/FollowResponse" }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["follow-controller"],
        "operationId": "unfollow",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["ORGANIZATION", "USER", "PROBLEM", "PROGRAM", "SHOWCASE"]
            }
          },
          {
            "name": "targetId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": { "204": { "description": "No Content" } }
      }
    },
    "/api/v1/bookmarks/{type}/{targetId}": {
      "put": {
        "tags": ["bookmark-controller"],
        "operationId": "bookmark",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["PROGRAM", "PROBLEM", "SOLUTION", "SHOWCASE"]
            }
          },
          {
            "name": "targetId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/BookmarkResponse" }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["bookmark-controller"],
        "operationId": "unbookmark",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["PROGRAM", "PROBLEM", "SOLUTION", "SHOWCASE"]
            }
          },
          {
            "name": "targetId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": { "204": { "description": "No Content" } }
      }
    },
    "/api/v1/showcases": {
      "get": {
        "tags": ["show-cases-controller"],
        "operationId": "getAll",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "categoryId",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "default": "createdAt" }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "default": "DESC" }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20,
              "maximum": 100,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageShowCasesResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["show-cases-controller"],
        "operationId": "create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateShowCasesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ShowCasesResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/showcases/{id}/views": {
      "post": {
        "tags": ["show-cases-controller"],
        "operationId": "incrementViewCount",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ShowcaseViewCountResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/showcase-steps/{showcaseId}": {
      "get": {
        "tags": ["show-case-step-controller"],
        "operationId": "getAll_1",
        "parameters": [
          {
            "name": "showcaseId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ShowcaseStepResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["show-case-step-controller"],
        "operationId": "create_1",
        "parameters": [
          {
            "name": "showcaseId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateShowcaseStepRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ShowcaseStepResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/reports/{id}/rewards": {
      "post": {
        "tags": ["report-controller"],
        "operationId": "recordReward",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/RewardReportRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ReportResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/programs/{programId}/reports": {
      "get": {
        "tags": ["report-controller"],
        "operationId": "findByProgram",
        "parameters": [
          {
            "name": "programId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "NEW",
                "TRIAGING",
                "NEEDS_MORE_INFO",
                "VALID_CONFIRMED",
                "RESOLVED",
                "REJECTED",
                "DUPLICATE"
              ]
            }
          },
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/Pageable" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/PageReportResponse" }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["report-controller"],
        "operationId": "create_2",
        "parameters": [
          {
            "name": "programId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateReportRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ReportResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/problems": {
      "get": {
        "tags": ["problem-controller"],
        "operationId": "findPublished",
        "parameters": [
          {
            "name": "categoryId",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "sdlcPhase",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "PLANNING",
                "REQUIREMENTS_ANALYSIS",
                "DESIGN",
                "DEVELOPMENT",
                "TESTING",
                "DEPLOYMENT",
                "MAINTENANCE"
              ]
            }
          },
          {
            "name": "tag",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "technology",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/Pageable" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/PageProblemResponse" }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["problem-controller"],
        "operationId": "createAndSubmit",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateProblemRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ProblemResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/problems/{problemId}/solutions": {
      "get": {
        "tags": ["solution-controller"],
        "operationId": "getSolutionsByProblemId",
        "parameters": [
          {
            "name": "problemId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20,
              "maximum": 100,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageSolutionResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["solution-controller"],
        "operationId": "createSolution",
        "parameters": [
          {
            "name": "problemId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SolutionRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SolutionResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/problems/{id}/views": {
      "post": {
        "tags": ["problem-controller"],
        "operationId": "incrementViewCount_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": { "204": { "description": "No Content" } }
      }
    },
    "/api/v1/problems/{id}/submit": {
      "post": {
        "tags": ["problem-controller"],
        "operationId": "submit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ProblemResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/problems/{id}/attachments": {
      "post": {
        "tags": ["problem-controller"],
        "operationId": "uploadAttachment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": { "type": "string", "format": "binary" }
                },
                "required": ["file"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ProblemResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/problems/drafts": {
      "post": {
        "tags": ["problem-controller"],
        "operationId": "createDraft",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateProblemRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ProblemResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/organizations/register": {
      "post": {
        "tags": ["organization-controller"],
        "operationId": "register",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/OrganizationRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/organizations/me/programs": {
      "get": {
        "tags": ["program-controller"],
        "operationId": "getMyPrograms",
        "parameters": [
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/Pageable" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageProgramResponseDto"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["program-controller"],
        "operationId": "createProgram",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ProgramRequestDto" }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ProgramResponseDto" }
              }
            }
          }
        }
      }
    },
    "/api/v1/organizations/me/members/invitations": {
      "post": {
        "tags": ["organization-controller"],
        "operationId": "inviteMember",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/InviteMemberRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/InvitationResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/organizations/invitations/{token}/accept": {
      "post": {
        "tags": ["organization-controller"],
        "operationId": "acceptInvitation",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/MemberResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/flags": {
      "post": {
        "tags": ["content-flag-controller"],
        "operationId": "createFlag",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateFlagRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/FlagResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/comments": {
      "get": {
        "tags": ["comment-controller"],
        "operationId": "findByTarget",
        "parameters": [
          {
            "name": "commentableType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["REPORT", "SOLUTION", "PROGRAM", "PROBLEM", "SHOWCASE"]
            }
          },
          {
            "name": "commentableId",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "parentCommentId",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20,
              "maximum": 100,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/PageCommentResponse" }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["comment-controller"],
        "operationId": "create_3",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateCommentRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommentResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/categories": {
      "get": {
        "tags": ["category-controller"],
        "operationId": "getAllCategories",
        "parameters": [
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "enum": ["PROBLEM", "SHOWCASE"] }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/CategoryResponse" }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["category-controller"],
        "operationId": "createCategory",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CategoryRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CategoryResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/register": {
      "post": {
        "tags": ["auth-controller"],
        "operationId": "register_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/RegisterRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/RegisterResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/{id}/moderation-actions": {
      "post": {
        "tags": ["moderation-admin-controller"],
        "operationId": "createModerationAction",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateModerationActionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ModerationActionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user-profiles/me": {
      "get": {
        "tags": ["user-controller"],
        "operationId": "me",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/UserProfileResponse" }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["user-controller"],
        "operationId": "updateMe",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserProfileRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/UserProfileResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/solutions/{id}": {
      "get": {
        "tags": ["solution-controller"],
        "operationId": "getById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SolutionResponse" }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["solution-controller"],
        "operationId": "deleteSolution",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": { "204": { "description": "No Content" } }
      },
      "patch": {
        "tags": ["solution-controller"],
        "operationId": "updateSolution",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SolutionUpdateRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SolutionResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/solutions/{id}/accept": {
      "patch": {
        "tags": ["solution-controller"],
        "operationId": "acceptSolution",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SolutionResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/showcases/{id}": {
      "get": {
        "tags": ["show-cases-controller"],
        "operationId": "getById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ShowCasesResponse" }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["show-cases-controller"],
        "operationId": "hardDelete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": { "204": { "description": "No Content" } }
      },
      "patch": {
        "tags": ["show-cases-controller"],
        "operationId": "update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShowCasesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ShowCasesResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/showcases/{id}/soft-delete": {
      "patch": {
        "tags": ["show-cases-controller"],
        "operationId": "softDelete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": { "204": { "description": "No Content" } }
      }
    },
    "/api/v1/showcases/{id}/restore": {
      "patch": {
        "tags": ["show-cases-controller"],
        "operationId": "restore",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": { "204": { "description": "No Content" } }
      }
    },
    "/api/v1/showcase-steps/{showcaseId}/{stepId}": {
      "get": {
        "tags": ["show-case-step-controller"],
        "operationId": "getById_2",
        "parameters": [
          {
            "name": "showcaseId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "stepId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ShowcaseStepResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["show-case-step-controller"],
        "operationId": "delete",
        "parameters": [
          {
            "name": "showcaseId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "stepId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": { "204": { "description": "No Content" } }
      },
      "patch": {
        "tags": ["show-case-step-controller"],
        "operationId": "update_1",
        "parameters": [
          {
            "name": "showcaseId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "stepId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShowcaseStepRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ShowcaseStepResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/reports/{id}/triage": {
      "patch": {
        "tags": ["report-controller"],
        "operationId": "triage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/TriageReportRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ReportResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/reports/{id}/disclosure-status": {
      "patch": {
        "tags": ["report-controller"],
        "operationId": "updateDisclosureStatus",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDisclosureStateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ReportResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/programs/{id}": {
      "get": {
        "tags": ["program-controller"],
        "operationId": "getPublicProgramById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ProgramResponseDto" }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["program-controller"],
        "operationId": "updateProgram",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProgramUpdateRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ProgramResponseDto" }
              }
            }
          }
        }
      }
    },
    "/api/v1/programs/{id}/submit": {
      "patch": {
        "tags": ["program-controller"],
        "operationId": "submitProgram",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ProgramResponseDto" }
              }
            }
          }
        }
      }
    },
    "/api/v1/programs/{id}/resume": {
      "patch": {
        "tags": ["program-controller"],
        "operationId": "resumeProgram",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ProgramResponseDto" }
              }
            }
          }
        }
      }
    },
    "/api/v1/programs/{id}/publish": {
      "patch": {
        "tags": ["program-controller"],
        "operationId": "publishProgram",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ProgramResponseDto" }
              }
            }
          }
        }
      }
    },
    "/api/v1/programs/{id}/pause": {
      "patch": {
        "tags": ["program-controller"],
        "operationId": "pauseProgram",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ProgramResponseDto" }
              }
            }
          }
        }
      }
    },
    "/api/v1/programs/{id}/close": {
      "patch": {
        "tags": ["program-controller"],
        "operationId": "closeProgram",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ProgramResponseDto" }
              }
            }
          }
        }
      }
    },
    "/api/v1/problems/{id}": {
      "get": {
        "tags": ["problem-controller"],
        "operationId": "findById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ProblemResponse" }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["problem-controller"],
        "operationId": "softDelete_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": { "204": { "description": "No Content" } }
      },
      "patch": {
        "tags": ["problem-controller"],
        "operationId": "updateDraft",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ProblemUpdateRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ProblemResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/organizations/{id}/reject": {
      "patch": {
        "tags": ["organization-controller"],
        "operationId": "reject",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/organizations/{id}/approve": {
      "patch": {
        "tags": ["organization-controller"],
        "operationId": "approve",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/organizations/me": {
      "get": {
        "tags": ["organization-controller"],
        "operationId": "me_1",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["organization-controller"],
        "operationId": "deleteMe",
        "responses": { "204": { "description": "No Content" } }
      },
      "patch": {
        "tags": ["organization-controller"],
        "operationId": "updateMe_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/organizations/me/members/{userId}/role": {
      "patch": {
        "tags": ["organization-controller"],
        "operationId": "updateMemberRole",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMemberRoleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/MemberResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/organizations/me/members/{userId}/permissions": {
      "patch": {
        "tags": ["organization-controller"],
        "operationId": "updateMemberPermissions",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMemberPermissionsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/MemberResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/notifications/{notificationId}/read": {
      "patch": {
        "tags": ["notification-controller"],
        "operationId": "markRead",
        "parameters": [
          {
            "name": "notificationId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/notifications/read-all": {
      "patch": {
        "tags": ["notification-controller"],
        "operationId": "markAllRead",
        "responses": { "204": { "description": "No Content" } }
      }
    },
    "/api/v1/comments/{id}": {
      "get": {
        "tags": ["comment-controller"],
        "operationId": "findById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommentResponse" }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["comment-controller"],
        "operationId": "delete_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": { "204": { "description": "No Content" } }
      },
      "patch": {
        "tags": ["comment-controller"],
        "operationId": "update_2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateCommentRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommentResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/categories/{id}": {
      "get": {
        "tags": ["category-controller"],
        "operationId": "getCategoryById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CategoryResponse" }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["category-controller"],
        "operationId": "deleteCategory",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": { "200": { "description": "OK" } }
      },
      "patch": {
        "tags": ["category-controller"],
        "operationId": "partialUpdateCategory",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CategoryPatchRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CategoryResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/solutions/{id}/review-status": {
      "patch": {
        "tags": ["solution-admin-controller"],
        "operationId": "updateReviewStatus",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSolutionReviewStatusRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SolutionResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/showcases/{id}/review-status": {
      "patch": {
        "tags": ["show-cases-admin-controller"],
        "operationId": "updateReviewStatus_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShowcaseStatusRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ShowCasesResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/programs/{id}/reject": {
      "patch": {
        "tags": ["program-admin-controller"],
        "operationId": "rejectProgram",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProgramRejectionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ProgramResponseDto" }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/programs/{id}/approve": {
      "patch": {
        "tags": ["program-admin-controller"],
        "operationId": "approveProgram",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ProgramResponseDto" }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/problems/{id}/moderation": {
      "patch": {
        "tags": ["problem-admin-controller"],
        "operationId": "moderate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProblemModerationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ProblemResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/flags/{id}/resolve": {
      "patch": {
        "tags": ["content-admin-flag-controller"],
        "operationId": "resolveFlag",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ResolveFlagRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/FlagResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/flags/{id}/dismiss": {
      "patch": {
        "tags": ["content-admin-flag-controller"],
        "operationId": "dismissFlag",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/FlagResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/votes/{type}/{targetId}/summary": {
      "get": {
        "tags": ["vote-controller"],
        "operationId": "getSummary",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["PROBLEM", "SOLUTION", "COMMENT", "SHOWCASE"]
            }
          },
          {
            "name": "targetId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/VoteSummaryResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/votes/mine": {
      "get": {
        "tags": ["vote-controller"],
        "operationId": "getMine",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["PROBLEM", "SOLUTION", "COMMENT", "SHOWCASE"]
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20,
              "maximum": 100,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/PageVoteResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/user-profiles": {
      "get": {
        "tags": ["user-controller"],
        "operationId": "getPublicProfiles",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20,
              "maximum": 100,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagePublicUserProfileResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user-profiles/{userId}": {
      "get": {
        "tags": ["user-controller"],
        "operationId": "getPublicProfile",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PublicUserProfileResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user-profiles/{userId}/solutions": {
      "get": {
        "tags": ["user-portfolio-controller"],
        "operationId": "getSolutions",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20,
              "maximum": 100,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageSolutionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user-profiles/{userId}/showcases": {
      "get": {
        "tags": ["user-portfolio-controller"],
        "operationId": "getShowcases",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20,
              "maximum": 100,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageShowCasesSummaryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user-profiles/{userId}/problems": {
      "get": {
        "tags": ["user-portfolio-controller"],
        "operationId": "getProblems",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20,
              "maximum": 100,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/PageProblemResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/solutions/mine": {
      "get": {
        "tags": ["solution-controller"],
        "operationId": "getMine_1",
        "parameters": [
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20,
              "maximum": 100,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageSolutionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/showcases/{id}/revision": {
      "get": {
        "tags": ["show-cases-controller"],
        "operationId": "getMyRevision",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ShowcaseReviewDetailResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["show-cases-controller"],
        "operationId": "cancelRevision",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": { "204": { "description": "No Content" } }
      }
    },
    "/api/v1/showcases/mine": {
      "get": {
        "tags": ["show-cases-controller"],
        "operationId": "getMine_2",
        "parameters": [
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20,
              "maximum": 100,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageShowCasesSummaryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/reports": {
      "get": {
        "tags": ["report-controller"],
        "operationId": "findAccessible",
        "parameters": [
          {
            "name": "programId",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "NEW",
                "TRIAGING",
                "NEEDS_MORE_INFO",
                "VALID_CONFIRMED",
                "RESOLVED",
                "REJECTED",
                "DUPLICATE"
              ]
            }
          },
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/Pageable" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/PageReportResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/reports/{id}": {
      "get": {
        "tags": ["report-controller"],
        "operationId": "findById_2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ReportResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/reports/mine": {
      "get": {
        "tags": ["report-controller"],
        "operationId": "findMine",
        "parameters": [
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/Pageable" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/PageReportResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/programs": {
      "get": {
        "tags": ["program-controller"],
        "operationId": "getPublicPrograms",
        "parameters": [
          {
            "name": "organizationId",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "engagementType",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "enum": ["BOUNTY", "RESPONSE"] }
          },
          {
            "name": "offersBounties",
            "in": "query",
            "required": false,
            "schema": { "type": "boolean" }
          },
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/Pageable" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageProgramResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/programs/{id}/updates": {
      "get": {
        "tags": ["program-controller"],
        "operationId": "getPublicProgramUpdates",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/Pageable" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageProgramUpdateChangeLogDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/programs/handle/{handle}": {
      "get": {
        "tags": ["program-controller"],
        "operationId": "getPublicProgramByHandle",
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ProgramResponseDto" }
              }
            }
          }
        }
      }
    },
    "/api/v1/problems/{id}/attachments/{attachmentId}/download": {
      "get": {
        "tags": ["problem-controller"],
        "operationId": "downloadAttachment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "attachmentId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/api/v1/problems/mine": {
      "get": {
        "tags": ["problem-controller"],
        "operationId": "findMine_1",
        "parameters": [
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/Pageable" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/PageProblemResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/organizations/{id}": {
      "get": {
        "tags": ["organization-controller"],
        "operationId": "getById_3",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/organizations/slug/{slug}": {
      "get": {
        "tags": ["organization-controller"],
        "operationId": "getBySlug",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/organizations/me/members": {
      "get": {
        "tags": ["organization-controller"],
        "operationId": "getMyMembers",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/MemberResponse" }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/notifications": {
      "get": {
        "tags": ["notification-controller"],
        "operationId": "getMine_3",
        "parameters": [
          {
            "name": "unreadOnly",
            "in": "query",
            "required": false,
            "schema": { "type": "boolean", "default": false }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20,
              "maximum": 100,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageNotificationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/notifications/unread-count": {
      "get": {
        "tags": ["notification-controller"],
        "operationId": "getUnreadCount",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UnreadNotificationCountResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/follows/{type}/{targetId}/summary": {
      "get": {
        "tags": ["follow-controller"],
        "operationId": "getSummary_1",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["ORGANIZATION", "USER", "PROBLEM", "PROGRAM", "SHOWCASE"]
            }
          },
          {
            "name": "targetId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FollowSummaryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/follows/{type}/{targetId}/followers": {
      "get": {
        "tags": ["follow-controller"],
        "operationId": "getFollowers",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["ORGANIZATION", "USER", "PROBLEM", "PROGRAM", "SHOWCASE"]
            }
          },
          {
            "name": "targetId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20,
              "maximum": 100,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageFollowerResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/follows/users/{userId}/following": {
      "get": {
        "tags": ["follow-controller"],
        "operationId": "getFollowing",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["ORGANIZATION", "USER", "PROBLEM", "PROGRAM", "SHOWCASE"]
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20,
              "maximum": 100,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/PageFollowResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/follows/mine": {
      "get": {
        "tags": ["follow-controller"],
        "operationId": "getMine_4",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["ORGANIZATION", "USER", "PROBLEM", "PROGRAM", "SHOWCASE"]
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20,
              "maximum": 100,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/PageFollowResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/flags/mine": {
      "get": {
        "tags": ["content-flag-controller"],
        "operationId": "getMyFlags",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["PENDING", "REVIEWED", "DISMISSED"]
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20,
              "maximum": 100,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/PageFlagResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/comments/mine": {
      "get": {
        "tags": ["comment-controller"],
        "operationId": "findMine_2",
        "parameters": [
          {
            "name": "commentableType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["REPORT", "SOLUTION", "PROGRAM", "PROBLEM", "SHOWCASE"]
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20,
              "maximum": 100,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/PageCommentResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/categories/slug/{slug}": {
      "get": {
        "tags": ["category-controller"],
        "operationId": "getCategoryBySlug",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "enum": ["PROBLEM", "SHOWCASE"] }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CategoryResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/categories/active": {
      "get": {
        "tags": ["category-controller"],
        "operationId": "getActiveCategories",
        "parameters": [
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "enum": ["PROBLEM", "SHOWCASE"] }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/CategoryResponse" }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bookmarks/{type}/{targetId}/status": {
      "get": {
        "tags": ["bookmark-controller"],
        "operationId": "getStatus",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["PROGRAM", "PROBLEM", "SOLUTION", "SHOWCASE"]
            }
          },
          {
            "name": "targetId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BookmarkStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bookmarks/mine": {
      "get": {
        "tags": ["bookmark-controller"],
        "operationId": "getMine_5",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["PROGRAM", "PROBLEM", "SOLUTION", "SHOWCASE"]
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20,
              "maximum": 100,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageBookmarkResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/users": {
      "get": {
        "tags": ["user-admin-controller"],
        "operationId": "getAllUsers",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["ACTIVE", "SUSPENDED", "REMOVED"]
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20,
              "maximum": 100,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageAdminUserSummaryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/solutions": {
      "get": {
        "tags": ["solution-admin-controller"],
        "operationId": "getReviewQueue",
        "parameters": [
          {
            "name": "reviewStatus",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "PENDING",
              "enum": ["PENDING", "APPROVED", "REJECTED", "ACCEPTED"]
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20,
              "maximum": 100,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageSolutionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/solutions/{id}": {
      "get": {
        "tags": ["solution-admin-controller"],
        "operationId": "getReviewDetail",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SolutionResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/showcases": {
      "get": {
        "tags": ["show-cases-admin-controller"],
        "operationId": "getReviewQueue_1",
        "parameters": [
          {
            "name": "reviewStatus",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "PENDING",
              "enum": ["PENDING", "APPROVED", "REJECTED"]
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20,
              "maximum": 100,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageShowcaseReviewQueueItemResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/showcases/{id}": {
      "get": {
        "tags": ["show-cases-admin-controller"],
        "operationId": "getReviewDetail_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ShowcaseReviewDetailResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/showcases/{id}/review-history": {
      "get": {
        "tags": ["show-cases-admin-controller"],
        "operationId": "getReviewHistory",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20,
              "maximum": 100,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageShowcaseReviewHistoryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/programs": {
      "get": {
        "tags": ["program-admin-controller"],
        "operationId": "getProgramsForReview",
        "parameters": [
          {
            "name": "submissionState",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "PENDING_REVIEW",
              "enum": ["PENDING_REVIEW", "APPROVED", "REJECTED"]
            }
          },
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/Pageable" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageProgramResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/problems": {
      "get": {
        "tags": ["problem-admin-controller"],
        "operationId": "findForModeration",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "DRAFT",
                "PENDING_APPROVAL",
                "PUBLISHED",
                "RESOLVED",
                "CLOSED",
                "REJECTED"
              ]
            }
          },
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/Pageable" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/PageProblemResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/moderation-actions": {
      "get": {
        "tags": ["moderation-admin-controller"],
        "operationId": "getModerationHistory",
        "parameters": [
          {
            "name": "targetType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "PROGRAM",
                "PROBLEM",
                "SOLUTION",
                "COMMENT",
                "USER",
                "REPORT",
                "SHOWCASE"
              ]
            }
          },
          {
            "name": "targetId",
            "in": "query",
[...]
